/* CSS Document */

/*-----------------------------------------------------------------------------
�@user_order_top_myacount_area
-----------------------------------------------------------------------------*/

/* common */
nav#breadcrumb_area {padding-top: 15px;}
.sec-full, .sec {border-bottom: 1px solid #9A9A9A;}
.sec {padding: 15px;}
a.link {color: #47AFFF;text-decoration: underline;}

/* cart_list_component */
.cart_item_list li:last-child .cart_contents {border: none;}
.cart_item_list .cart_item_img img {width: 75px;height: auto;border: none;}
.cart_item_list .cart_item_img {flex-basis: 100px;}
.cart_item_list .cart_item_txt {flex-basis: 100%;flex-shrink: 1;}
.cart_item_list .cart_item_txt p:first-child {font-weight: bold;}
.cart_item_list .cart_contents {border-top: none;border-bottom: 1px solid #9A9A9A;}

/* status_btn_component */
.btn {width: max-content;height: max-content;border: none;padding: 5px;border-radius: 5px;cursor: pointer;background-color: #9a9a9a;color: #fff;font-size: 12px;}
.btn.success {background-color: #C1FACF;color: #ff4549}
.btn.warning {background-color: hsl(58, 96%, 79%);color: #ff4549;}

/* .common_table_components */
.table {width: 100%;margin: 0 auto;border-collapse: collapse;text-align: left;}
.table tr {border-bottom: 1px solid #9a9a9a;}
.table tr:last-child {border-bottom: none;}
.table td {width: 70%;padding: 12px 15px;}
.table td:first-child {background-color: #f4f4f4;width: 30%;}
.table td > div {display: flex;flex-direction: column;gap: 9px;}
.table td > span {display: flex;flex-direction: row;}

/* order_status_components */
.order-status {display: flex;margin-top: 10px;}
.order-detail {display: flex;flex-direction: column;gap: 7px;}
.btn {margin-left: auto;}

/* ////////////////// user_order_top ////////////////// */
.user_order_top .optional-mark{padding: 8px 13px;font-size: inherit;margin-left: auto;margin-bottom: 0;}

/* ////////////////// section_02 ////////////////// */
.sec02 {padding-top: 0;padding-bottom: 0;}

/* ////////////////// section_04 ////////////////// */
.btn_blue_line {color: #47AFFF;width: 50%;border-radius: 40px;border: 1px solid #47AFFF;}

/* ////////////////// section_05 ////////////////// */
.sec05 {border-bottom: none;}
.sec05 .ft-red {color: #ff4549;}
.sec05 .order-status2 {padding: 15px;}
.sec05 .table {border: 1px solid #9a9a9a;border-right: none;border-left: none;}
.sec05 .btn_wpr {width: 70%;margin-left: auto;padding: 20px 15px 0;}
.sec05 .payment-table .btn {margin: 0;}
.sec05 .payment_content li {border-bottom: 1px solid #eee;padding: 9px 0;}
.sec05 .payment_content li:has(h3) {padding: 0;}
.sec05 .payment_content li:last-child {border-bottom: none;padding-bottom: 0;}

/* ////////////////// section_06 ////////////////// */
.sec06 .table .notice {font-size: 8px;color: #ff4945;}
.sec06 .accordion label {position: relative;}
.sec06 .accordion label input {padding-right: 31px;}
.sec06 .accordion label button {position: absolute;top: 35%;right: 15px;cursor: pointer;color: #707070;}

/* ////////////////// section_08 ////////////////// */
.sec08 {border-bottom: none;}




