/* CSS Document */

/*-----------------------------------------------------------------------------
user_regist_contents
-----------------------------------------------------------------------------*/
#myacount_area nav#breadcrumb_area {
    padding-top: 15px;
}

.myacount_area h2 {
  border-top: 1px solid #9a9a9a;
}

.sec05 .box01 .address3, .sec06 .box01 .left-content, .sec06 .box02 .left-content {
    flex-basis: 70%;
}

.sec05 .box01 .right-content, .sec06 .box01 .right-content, .sec06 .box02 .right-content {
    flex-basis: 30%;
}

.border-red {
    padding: 5px 10px;
    border: 1px solid #FF4549;
    border-radius: 5px;
    color: #FF4549;
}

.radio-group {
    gap: 16px;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.point-information {
    width: 100%;
    background-color: #C1FACF;
    padding: 5px 0px;
    border-radius: 5px;
}

.btn-red-regist {
    display: inline-block;
    padding: 5px 10px;
    background-color: #FF4549;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
}

.custom-submit input[type='submit'] {
    -webkit-appearance: none;
    font-size: 12px;
    padding: 5px;
    background-color: #FFF;
    border-radius: 5px;
    color: #ff4945;
    border: 1px solid #ff4945;
    font-weight: normal;
    width: 50px;
    height: 31px;
}

.icon-bank-pay::after {
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url(../images/common/icon_bank_pay.png) no-repeat left center;
    background-size: contain;
    vertical-align: middle;
}

.icon_convenience_store_s, .icon_post_office_s, .icon_yamato_s {
    justify-content: flex-start !important;
    border-bottom: 0.5px solid #FF4549;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select, textarea {
  background-color: #EEEEEE !important;
}

/* Footer */
.user_regist_contents .list-display .tit_name h3{font-size: 12px;}

.user_regist_contents .tit h3 {
  font-weight: bold;
  font-size: 14px;
  padding: 0px 14px;
}

.user_regist_contents .bord-b {
  border-bottom: 1px solid #9a9a9a;
  margin: 0px;
}
.user_regist_contents .item-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #9a9a9a;
}
.user_regist_contents .item-display .icon_question2 h3 {
  font-size: 12px;
  font-weight: 500;
}
.user_regist_contents .item-display .icon_question2 p {
  font-size: 8px;
  padding: 5px 0px;
  color: #545454;
}

.user_regist_contents .cart_privacy p {
  font-size: 10px !important;
}

#footer_fix #copyright {
  font-size: 8px;
}
